/*i{*/
/*  position: relative;*/
/*  bottom: 30px;*/
/*  left: 1030px;*/
/*  cursor:pointer;*/
/*}*/
.forgot .con{
  display: flex;
  margin-top: 80px;
  justify-content: center;
  flex-direction: row;
  padding: 0px 20px 0px 20px;

}
.forgot #forcard{
  width: 35rem;
  /*border : 1px solid #3FC1C9;*/
  border-radius: 10px;
  box-shadow: 0px 5px #bbcfe3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.forgot #imglock{
  width: 100px;
  margin-bottom: 10px;
}

.forgot #emaillock{
  width: 55px;
  margin:auto;
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
}


.forgot h1{
  color: #3FC1C9;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 5px;
}

.forgot h3{
  color: #364F6B;
}

.forgot #cod{
  border: 1px solid #3FC1C9;
  border-radius: 10px;
  margin:auto;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 25%);
  margin-bottom: 10px;
  width: 50%;
}

.forgot #forbtn{
  background-color: #FC5185;
  color: #F5F5F5;
  width: 55%;
  margin-top: 10px;
  border-radius: 2px;
}

@media only screen and (max-width: 580px){

  .forgot #imglock{
    width: 80px;
    margin-bottom: 10px;
  }

  .forgot #emaillock{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
  }


  .forgot h1{
    font-size: 150%;
  }

  .forgot h3{
    font-size: 100%;
  }

  .forgot #cod{
  }

  .forgot #forbtn{
    width: 53%;
    font-size: 100%;
  }
}

@media only screen and (max-width: 515px) {
  .forgot #emaillock{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 470px) {
  .forgot #emaillock{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 430px) {
  .forgot #emaillock{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 390px) {
  .forgot #emaillock{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 350px) {
  .forgot #emaillock{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
  }
  .forgot h3{
    font-size: 95%;
  }
}
@media only screen and (max-width: 310px) {
  .forgot #emaillock{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
  }
  .forgot h1{
    font-size: 140%;
  }
  .forgot h3{
    font-size: 85%;
  }
}


/*i{*/
/*  position: relative;*/
/*  bottom: 30px;*/
/*  left: 1030px;*/
/*  cursor:pointer;*/
/*}*/
.forgot .con2{
  display: flex;
  margin-top: 80px;
  justify-content: center;
  flex-direction: row;
  padding: 0px 20px 0px 20px;

}
.forgot #forcard2{
  width: 35rem;
  /*border : 1px solid #3FC1C9;*/
  border-radius: 10px;
  box-shadow: 0px 5px #bbcfe3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.forgot #imglock2{
  width: 100px;
  margin-bottom: 10px;
}

.forgot #emaillock2{
  width: 55px;
  margin:auto;
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
}


.forgot h1{
  color: #3FC1C9;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 5px;
}

.forgot h3{
  color: #364F6B;
}

.forgot #cod2{
  border: 1px solid #3FC1C9;
  border-radius: 10px;
  margin:auto;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 25%);
  margin-bottom: 10px;
  width: 50%;
}

.forgot #forbtn2{
  background-color: #FC5185;
  color: #F5F5F5;
  width: 55%;
  margin-top: 10px;
  border-radius: 2px;
}

@media only screen and (max-width: 580px){

  .forgot #imglock2{
    width: 80px;
    margin-bottom: 10px;
  }

  .forgot #emaillock2{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
  }


  .forgot h1{
    font-size: 150%;
  }

  .forgot h3{
    font-size: 100%;
  }

  .forgot #cod2{
    font-size: 90%;
  }

  .forgot #forbtn2{
    width: 53%;
    font-size: 95%;
  }
}

@media only screen and (max-width: 515px) {
  .forgot #emaillock2{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 470px) {
  .forgot #emaillock2{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
  }
  .forgot #cod2{
    font-size: 80%;
  }
}
@media only screen and (max-width: 430px) {
  .forgot #emaillock2{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 390px) {
  .forgot #emaillock2{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
  }
  .forgot #cod2{
    width: 60%;
    font-size: 75%;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 350px) {
  .forgot #emaillock2{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
  }
  .forgot h3{
    font-size: 95%;
  }
  .forgot #cod2{
    width: 60%;
    font-size: 75%;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 310px) {
  .forgot #emaillock2{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 0px;
    margin-top: 10px;
  }
  .forgot h1{
    font-size: 140%;
  }
  .forgot h3{
    font-size: 85%;
  }
  .forgot #cod2{
    width: 65%;
    font-size: 75%;
    margin-left: 10px;
  }
}


/*i{*/
/*  position: relative;*/
/*  bottom: 30px;*/
/*  left: 1030px;*/
/*  cursor:pointer;*/
/*}*/
.forgot .con3{
  display: flex;
  margin-top: 80px;
  justify-content: center;
  flex-direction: row;
  padding: 0px 20px 0px 20px;

}
.forgot #forcard3{
  width: 35rem;
  /*border : 1px solid #3FC1C9;*/
  border-radius: 10px;
  box-shadow: 0px 5px #bbcfe3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.forgot #imglock3{
  width: 100px;
  margin-bottom: 10px;
}

.forgot #emaillock3{
  width: 55px;
  margin:auto;
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
}
.forgot #emaillock4{
  width: 55px;
  margin:auto;
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
}


.forgot h1{
  color: #3FC1C9;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 5px;
}

.forgot h3{
  color: #364F6B;
}

.forgot #cod3{
  border: 1px solid #3FC1C9;
  border-radius: 10px;
  margin:auto;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 25%);
  margin-bottom: 10px;
  width: 50%;
}
.forgot #cod4{
  border: 1px solid #3FC1C9;
  border-radius: 10px;
  margin:auto;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 25%);
  margin-bottom: 10px;
  width: 50%;
  margin-top: 5px;
}

.forgot #forbtn3{
  background-color: #FC5185;
  color: #F5F5F5;
  width: 55%;
  margin-top: 15px;
  border-radius: 2px;
}

@media only screen and (max-width: 580px){

  .forgot #imglock3{
    width: 80px;
    margin-bottom: 10px;
  }

  .forgot #emaillock3{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
  }
  .forgot #emaillock4{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
  }

  .forgot h1{
    font-size: 150%;
  }

  .forgot h3{
    font-size: 100%;
  }

  .forgot #cod3{
    font-size: 90%;
  }
  .forgot #cod4{
    font-size: 90%;
  }

  .forgot #forbtn3{
    width: 53%;
    font-size: 95%;
  }
}

@media only screen and (max-width: 515px) {
  .forgot #emaillock3{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
  }
  .forgot #emaillock4{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
  }
  .forgot #forbtn3{
    width: 55%;
    font-size: 90%;
  }
}
@media only screen and (max-width: 470px) {
  .forgot #emaillock3{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
  }
  .forgot #cod3{
    font-size: 80%;
  }
  .forgot #emaillock4{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
  }
  .forgot #cod4{
    font-size: 80%;
  }
}
@media only screen and (max-width: 430px) {
  .forgot #emaillock3{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
  }
  .forgot #emaillock4{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 390px) {
  .forgot #emaillock3{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
  }
  .forgot #cod3{
    width: 60%;
    font-size: 75%;
    margin-left: 20px;
  }
  .forgot #emaillock4{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
  }
  .forgot #cod4{
    width: 60%;
    font-size: 75%;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 350px) {
  .forgot #emaillock3{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
  }
  .forgot #emaillock4{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
  }
  .forgot h3{
    font-size: 95%;
  }
  .forgot #cod3{
    width: 60%;
    font-size: 75%;
    margin-left: 20px;
  }
  .forgot #cod4{
    width: 60%;
    font-size: 75%;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 310px) {
  .forgot #emaillock3{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 0px;
    margin-top: 10px;
  }
  .forgot #emaillock4{
    width: 52px;
    margin:auto;
    display: flex;
    margin-left: 0px;
    margin-top: 10px;
  }
  .forgot h1{
    font-size: 140%;
  }
  .forgot h3{
    font-size: 85%;
  }
  .forgot #cod3{
    width: 65%;
    font-size: 75%;
    margin-left: 10px;
  }
  .forgot #cod4{
    width: 65%;
    font-size: 75%;
    margin-left: 10px;
  }
}
.forgot .iconDiv{
  color: #364F6B
}

.forgot .iconContainer{
  border : 1px solid #3FC1C9;
  border-left: 0;
}

.forgot .eyeIcon{
  max-height: 20px;
}
