<div class="forgot"><br/>
  <div  class = "con">
    <div class="card text-center" id="forcard">
      <div class="card-body X">
        <img id="imglock" src="./assets/images/images Used in Project Management UI Design/padlock.png">
        <h1>Forgot Password ?</h1>
        <h3 id = "txtMsg">You can reset your password here.</h3>
        <form >
          <div class="form-group">
            <div class="row">
              <img id="emaillock" src="./assets/images/images Used in Project Management UI Design/email.png">
            <input id="cod" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"  required>
              </div>
          </div>
          <button id="forbtn" type="submit" class="btn btn-lg">Get Code</button>
        </form>
        <br/>
        </div>
    </div>
  </div>
</div>
