<div class="forgot"><br/>
  <div  class = "con" *ngIf='display1'>
    <div class="card text-center" id="forcard">
      <div class="card-body X">
        <img id="imglock" src="./assets/images/images Used in Project Management UI Design/padlock.png">
        <h1>Forgot Password ?</h1>
        <h3 id = "txtMsg">You can reset your password here.</h3>
<!--        <form >-->
          <div class="form-group">
            <div class="row">
              <img id="emaillock" src="./assets/images/images Used in Project Management UI Design/email.png">
            <input  [(ngModel)]="email" id="cod" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
              </div>
          </div>
          <button id="forbtn" type="submit" class="btn btn-lg" (click)="getEmail()">Get Code</button>
<!--        </form>-->
        <br/>
        </div>
    </div>
  </div>

  <div  class = "con2" *ngIf='display2'>
    <div class="card text-center" id="forcard2">
      <div class="card-body X">
        <img id="imglock2" src="./assets/images/images Used in Project Management UI Design/padlock.png">
        <h1>Forgot Password ?</h1>
        <h3 id = "txtMsg2">You can reset your password here.</h3>

          <div class="form-group">
            <div class="row">
              <img id="emaillock2" src="./assets/images/images Used in Project Management UI Design/setting.png">
              <input  [(ngModel)]="verifycode" id="cod2" type="text" class="form-control" aria-describedby="textHelp" placeholder="Enter code"  required>
              <h2 class="errorTxt" [hidden] = "invalid">{{errMsg}}</h2>
            </div>
          </div>
          <button id="forbtn2" type="submit" class="btn btn-lg" (click)="verifyCode()">Verify Code</button>

        <br/>
      </div>
    </div>
  </div>
  <form (ngSubmit)="changeThePassword()" ngNativeValidate class = "con3" *ngIf='display3' >



    <div class="card text-center" id="forcard3">
      <div class="card-body X">
        <img id="imglock3" src="./assets/images/images Used in Project Management UI Design/password.png">
        <h1>Forgot Password ?</h1>
        <h3 id = "txtMsg3">You can reset your password here.</h3>

<!--          <div class="form-group">-->
<!--            <div class="row input-group">-->
<!--              <img id="emaillock3" src="./assets/images/images Used in Project Management UI Design/password.png">-->
<!--              <input id="cod3" type="text" class="form-control" aria-describedby="textHelp" placeholder="Enter password"  required>-->
<!--              <span class="input-group-append  border-left-0" >-->
<!--                        <span class="input-group-text bg-transparent iconContainer" >-->
<!--                          <div class = "iconDiv">  <a type = "button" (click)="toggleEye(0)">-->
<!--                            <img class = "img-fluid eyeIcon" [src] = "eyeImageUrl1" alt = "eye">-->
<!--                          </a> </div>-->
<!--                        </span>-->
<!--                      </span>-->
<!--            </div>-->
<!--            <app-password-strength-bar [passwordToCheck]="newPassword.value" [barLabel]="barLabel" (statusEvent)="checkNewPasswordStrength($event)"></app-password-strength-bar>-->

<!--            <div class="row">-->
<!--              <img id="emaillock4" src="./assets/images/images Used in Project Management UI Design/password.png">-->
<!--              <input id="cod4" type="text" class="form-control" aria-describedby="textHelp" placeholder="Re-enter password"  required>-->
<!--            </div>-->
<!--            <app-password-strength-bar [passwordToCheck]="confirmPassword.value" [barLabel]="barLabel" (statusEvent)="checkConfirmPasswordStrength($event)"></app-password-strength-bar>-->
<!--            <h2 class="errorTxt" [hidden] = "mismatch">{{errorMsg}}</h2>-->
<!--          </div>-->


<!--        <br/>-->
<!--      </div>-->
<!--    </div>-->

    <div class="form-group row changepass">
      <label class = "passwordLabel" >New Password</label>
      <div class="input-group" >
                      <span class="input-group-addon addonN">
                        <img class="img-fluid lockIcon"
                             src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/password.png" alt="lock">
                      </span>
        <input [type]= "typeInput2" class="passwordInput form-control border-right-0" id="inputConfirmPassword2" required
          [formControl]="newPassword" (keydown)="keyDownHandler($event)">
        <span class="input-group-append  border-left-0" >
                        <span class="input-group-text bg-transparent iconContainer" >
                          <div class = "iconDiv">
                            <a type = "button" (click)="toggleEye(1)">
                            <img class = "img-fluid eyeIcon" [src] = "eyeImageUrl2" alt = "eye">
                            </a> </div>
                        </span>
                      </span>
      </div>
    </div>
    <app-password-strength-bar [passwordToCheck]="newPassword.value" [barLabel]="barLabel" (statusEvent)="checkNewPasswordStrength($event)"></app-password-strength-bar>
    <div class="form-group row changepass">
      <label class = "passwordLabel" >Confirm Password</label>
      <div class="input-group" >
                      <span class="input-group-addon addonN">
                        <img class="img-fluid lockIcon"src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/password.png"
                             alt="lock">
                      </span>
        <input [type]="typeInput3" class="passwordInput form-control border-right-0" id="inputConfirmPassword3" required
          [formControl]="confirmPassword" (keydown)="keyDownHandler($event)">
        <span class="input-group-append  border-left-0" >
                        <span class="input-group-text bg-transparent iconContainer" >
                          <div class = "iconDiv"> <a type = "button" (click)="toggleEye(2)">
                            <img class = "img-fluid eyeIcon" [src] = "eyeImageUrl3" alt = "eye">
                          </a> </div>
                        </span>
                      </span>
      </div>

    </div>
        <app-password-strength-bar [passwordToCheck]="confirmPassword.value" [barLabel]="barLabel" (statusEvent)="checkConfirmPasswordStrength($event)"></app-password-strength-bar>
        <h2 class="errorTxt" [hidden] = "mismatch">{{errorMsg}}</h2>
        <button id="forbtn3" type="submit" class="btn btn-lg" (click)="changeThePassword">Change Password</button>


        <ng-template #content let-modal>
          <app-confirmmodal (someEvent)="changePasswordFromDB()"></app-confirmmodal>
        </ng-template>

      </div>

      </div>


  </form>
</div>
