.footer #footer{
  background-color: #364F6B;
  width: 100%;
  overflow-x: hidden;
}

.footer #copyright{
  background-color: rgba(0, 0, 0, 0.2);
  font-family: Rambla, sans-serif;
  font-size:20px;
}
.footer #companyname {

  font-family: Rambla, sans-serif;
  color: #364F6B;
  font-weight: bold;
  padding-top: 25px;
  font-size: 55px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}


.footer .title{
  color: white;
  font-family: Rambla, sans-serif;
  font-size:17px;
}
.footer .txt {

  color: #FC5185;
  font-family: Rambla, sans-serif;
  font-size:15px;
}

.footer #follow{

  color: white;
  margin-top: 55px;
  font-family: Rambla, sans-serif;
  font-size: 30px;
}

.footer #btns{
  background-color:#364F6B ;
  border: none;
  border-radius: 50%;
}

.footer #btnss{
  background-color:#364F6B ;
  border: none;
  border-radius: 50%;
}

.footer #btnsss{
  background-color:#364F6B ;
  border: none;
  border-radius: 50%;
}

.footer #btnssss{
  background-color:#364F6B ;
  border: none;
}

.footer .image-text {
  display: flex;
  align-items: center;
  font-family: Rambla, sans-serif;
}
.footer .image-text__image {
  flex: 0 0 auto;
  padding: 1em;
}
.footer .image-text__image img {
  display: block;
  height:50px;
  width:50px;
}

.footer #footerTxt{

  font-family: Rambla, sans-serif;
  font-size: 20px;
}

.footer #footerTxt2{
  font-family: Rambla, sans-serif;
  font-size: 20px;

}

.footer #facebook{

  height: 50px;
  width: 50px;

}

.footer #twitter{

  height: 50px;
  width: 50px;
}

.footer #google{

  height: 45px;
  width: 45px;
}

.footer #instagram{

  height: 45px;
  width: 45px;
}
