<div class="footer">
<div class="">
  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-white"
    id="footer"
  >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">

            <div class="image-text">
              <div class="image-text__image">
                <img src="./assets/images/images Used in Project Management UI Design/AppLogo.png"/>
              </div>
              <h1 class=" mb-4 font-weight-bold" id="companyname">
                Tâche
              </h1>
            </div>

            <h5 class="title">
              The platform that works for You, Us and Everyone else.
            </h5>

            <p class="txt">Say goodbye to overdue tasks and shuffling between tools to do things.Tâche is here.</p>
            <br/>

            <app-signupforfree></app-signupforfree>
            <br/>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class=" col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" id="footerTxt">

<!--            <h3 class="text-uppercase mb-4 font-weight-bold"></h3>-->
            <br/><br/><br/>
            <p class=" mb-4 font-weight-bold">
              <a class="text-white">Home</a>
            </p>

            <p class=" mb-4 font-weight-bold">
              <a class="text-white">Features</a>
            </p>

            <p class=" mb-4 font-weight-bold">
              <a class="text-white">Overview</a>
            </p>

            <p class=" mb-4 font-weight-bold">
              <a class="text-white">Workspace</a>
            </p>

          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" id="footerTxt2">
<!--            <h6 class="text-uppercase mb-4 font-weight-bold"></h6>-->
            <br/><br/><br/>
            <p class=" mb-4 font-weight-bold">
              <a class="text-white">Contact Us</a>
            </p>

            <p class="mb-4 font-weight-bold">
              <a class="text-white">Friends</a>
            </p>

            <p class="mb-4 font-weight-bold">
              <a class="text-white">Notification</a>
            </p>

            <p class=" mb-4 font-weight-bold">
              <a class="text-white">About</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h3 class=" mb-4 font-weight-bold" id="follow">Follow Us</h3>
            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating"
              id="btns"
              href="#!"
              role="button"
            ><img id="facebook" src="./assets/images/images Used in Project Management UI Design/icons8-facebook-480.png"/>
            </a>

            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating"
              id="btnss"
              href="#!"
              role="button"
            ><img id="twitter" src="./assets/images/images Used in Project Management UI Design/icons8-twitter-240.png"/>
            </a>

            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1"
              id="btnsss"
              href="#!"
              role="button"
            ><img id="google" src="./assets/images/images Used in Project Management UI Design/icons8-gmail-480.png"/></a>

            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1"
              id="btnssss"
              href="#!"
              role="button"
            ><img id="instagram" src="./assets/images/images Used in Project Management UI Design/instagram.png"/></a>

          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
      class="text-center p-3"
      id="copyright"
    >
      © 2022 Copyright Tâche. All Rights Reserved.
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
</div>
