
<div class="card body">
  <br>
  <img class="crdImg" src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/IMG_6407.JPG" alt="Card image cap">

  <div class="card-body">
    <h4 class="card-title">Dulan Bamunuge</h4>
    <p class="card-text">{{noofGroups}} Groups in common</p>
    <div class = "row " >
      <div class = "text-center">
        <a href = ""><img class = "imgBtn" (click)="requestAccept()"  src = "./assets/images/featurePageIcons/check.png"></a>
        <a href = ""><img class = "imgBtn1" (click)="requestDecline()" src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/remove.png"></a>
      </div>

    </div>

  </div>
</div>
