.friendrequestdiv .body{
  text-align: center;
  border-width: 2px;
  border: 1px solid #3FC1C9;
  box-shadow: 2px 4px 2px 3px rgba(54, 79, 107, 0.3);
  font-family: Rambla, Roboto, normal, serif;
  width: 200px;
  line-height: 0px;
  border-radius: 10px;
}
.friendrequestdiv .btn.btn-rounded {
  border-radius: 50px
}
.friendrequestdiv h3{
  font-weight: bold;
  margin-bottom: 3px
}

.friendrequestdiv .crdImg{
  border-radius: 50%;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.friendrequestdiv .crdbody .imgBtn {
  width: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.friendrequestdiv .crdbody .imgBtn1 {
  width: 30px;
  margin-top: 10px;
  margin-left: 10px;
}
