<div class="forgot"><br/>
  <div  class = "con3">
    <div class="card text-center" id="forcard3">
      <div class="card-body X">
        <img id="imglock3" src="./assets/images/images Used in Project Management UI Design/password.png">
        <h1>Forgot Password ?</h1>
        <h3 id = "txtMsg">You can reset your password here.</h3>
        <form >
          <div class="form-group">
            <div class="row">
              <img id="emaillock3" src="./assets/images/images Used in Project Management UI Design/password.png">
              <input id="cod3" type="text" class="form-control" aria-describedby="textHelp" placeholder="Enter code"  required>
            </div>
            <div class="row">
              <img id="emaillock4" src="./assets/images/images Used in Project Management UI Design/password.png">
              <input id="cod4" type="text" class="form-control" aria-describedby="textHelp" placeholder="Enter code"  required>
            </div>
          </div>
          <button id="forbtn3" type="submit" class="btn btn-lg">Change Password</button>
        </form>
        <br/>
      </div>
    </div>
  </div>
</div>
