<div class="workspacecard">
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <br><br>
        <div class="card profile-card-2">
          <div class="card-img-block">
            <img class="img-fluid w-100" [src]="'./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/'+coverImage" alt="Card image cap" id="cover">
          </div>
          <div class="card-body pt-5">
            <img [src]="'./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/'+mainImage" class="profile" alt = "mainImage">
            <h2 class="card-title">{{workSpaceName}}</h2>
            <p class="card-text">{{description}}</p>
            <br>
          <div class="avatar"><app-avatar-group workspaceID={{workspaceID}}></app-avatar-group> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
