<div class = "dashboard">
  <div class="sidebar">
    <div class="logo_content">
      <img src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/AppLogo.png" alt="logo" class="img-fluid logoImage shadow-shorter">
    </div>
    <ul class="nav_list">
      <li>
        <a href="#">
          <img src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/home.png" alt="home" class="img-fluid iconsImg">
        </a>
        <span class="tooltip">Home</span>
      </li>
      <li>
        <a href="#">
          <img src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/users.png" alt="friends" class="img-fluid iconsImg">
        </a>
        <span class="tooltip">Friends</span>
      </li>
      <li>
        <a href="#">
          <img src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/user-add.png" alt="addFriend" class="img-fluid iconsImg">
        </a>
        <span class="tooltip">Add Friend</span>
      </li>
      <li>
        <a href="#">
          <img src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/bell.png" alt="notification" class="img-fluid iconsImg">
        </a>
        <span class="tooltip">Notifications</span>
      </li>
      <li>
        <a href="#">
          <img src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/user.png" alt="userProfile" class="img-fluid iconsImg">
        </a>
        <span class="tooltip">My Account</span>
      </li>

    </ul>
    <div class="content">
      <ul>
        <li>
          <a href="#">
            <img src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/sign-out-alt.png" alt="logout" class="img-fluid logoutIconImg">
          </a>
          <span class="tooltip">Logout</span>
        </li>
      </ul>

    </div>
  </div>
  <div class="home_content">
<!--<app-userprofile></app-userprofile>-->
<app-workspacepage></app-workspacepage>
<!--<app-projectedit></app-projectedit>-->
<!--    <app-friendspage></app-friendspage>-->
<!--    <app-userprofile></app-userprofile>-->

  </div>

</div>



