<div class="forgot"><br/>
  <div  class = "con2">
    <div class="card text-center" id="forcard2">
      <div class="card-body X">
        <img id="imglock2" src="./assets/images/images Used in Project Management UI Design/padlock.png">
        <h1>Forgot Password ?</h1>
        <h3 id = "txtMsg">You can reset your password here.</h3>
        <form >
          <div class="form-group">
            <div class="row">
              <img id="emaillock2" src="./assets/images/images Used in Project Management UI Design/setting.png">
              <input id="cod2" type="text" class="form-control" aria-describedby="textHelp" placeholder="Enter code"  required>
            </div>
          </div>
          <button id="forbtn2" type="submit" class="btn btn-lg">Verify Code</button>
        </form>
        <br/>
      </div>
    </div>
  </div>
</div>
