.change-password .innerCard{
  border: none !important;
}

.change-password .lockIcon{
  max-height:30px
}
.change-password .passwordLabel{
  text-align:left;
  margin-left: 40px;
  color: #364F6B;
  font-family: Roboto, normal, serif;
  font-size: 20px
}

.change-password .addonN{
  margin-right: 5px
}

.change-password #inputConfirmPassword{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border : 1px solid #3FC1C9;
}

.change-password .iconDiv{
  color: #364F6B
}

.change-password .backBtn{
  max-height: 50px
}

.change-password .iconContainer{
  border : 1px solid #3FC1C9;
  border-left: 0;
}
