.change-password .innerCard{
  border: none !important;
}

.change-password .lockIcon{
  max-height:30px
}
.change-password .passwordLabel{
  text-align:left;
  margin-left: 40px;
  color: #364F6B;
  font-family: Roboto, normal, serif;
  font-size: 20px
}

.change-password .addonN{
  margin-right: 5px
}

.change-password #inputConfirmPassword{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border : 1px solid #3FC1C9;
}

.change-password #inputConfirmPassword2{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border : 1px solid #3FC1C9;
}
.change-password #inputConfirmPassword3{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border : 1px solid #3FC1C9;
}

.change-password .iconDiv{
  color: #364F6B
}

.change-password .backBtn{
  max-height: 45px;
}

.change-password .iconContainer{
  border : 1px solid #3FC1C9;
  border-left: 0;
}

.change-password .eyeIcon{
  max-height: 20px;
}

@media screen and (max-width: 600px) {
  .change-password .backBtn{
    max-height: 30px
  }
}


@media screen and (max-width: 300px) {
  .change-password .lockIcon{
    max-height:20px
  }

  .change-password .passwordLabel{
    margin-left: 25px;
    color: #364F6B;
    font-family: Roboto, normal, serif;
    font-size: 10px
  }
}

@media screen and (max-width: 400px) {
  .change-password .passwordLabel{
    margin-left: 35px;
    color: #364F6B;
    font-family: Roboto, normal, serif;
    font-size: 15px
  }
}
