<div class="change-password">
  <br>
  <img  class = "img-fluid backBtn" src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/angle-left.png" alt = "back">
  <form (ngSubmit)="changeThePassword()" ngNativeValidate>
  <div class="d-flex justify-content-center">

    <div class="card innerCard">
      <div class="card-body">
        <div class="text-center">
          <div class="container-fluid">
            <div class="form-group row">
              <label class = "passwordLabel" >Current Password</label>
              <div class="input-group" >
                      <span
                        class="input-group-addon addonN"
                      >
                        <img class="img-fluid lockIcon"
                             src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/padlock.png"
                             alt="lock">
                      </span>
                <input
                  [type]= "typeInput1"
                  class="passwordInput form-control border-right-0"
                  id="inputConfirmPassword"
                  required
                  [formControl]="currentPassword"
                  (keydown)="keyDownHandler($event)"
                >
                <span class="input-group-append  border-left-0" >
                        <span class="input-group-text bg-transparent iconContainer" >
                          <div class = "iconDiv">  <a type = "button" (click)="toggleEye(0)">
                            <img class = "img-fluid eyeIcon" [src] = "eyeImageUrl1" alt = "eye">
                          </a> </div>
                        </span>
                      </span>
              </div>
            </div>
            <h2 class="errorTxt" [hidden] = "wrongPassword">Incorrect password!</h2>
            <div class="form-group row">
              <label class = "passwordLabel" >New Password</label>
              <div class="input-group" >
                      <span
                        class="input-group-addon addonN"
                      >
                        <img class="img-fluid lockIcon"
                             src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/password.png"
                             alt="lock">
                      </span>
                <input
                  [type]= "typeInput2"
                  class="passwordInput form-control border-right-0"
                  id="inputConfirmPassword2"
                  required
                  [formControl]="newPassword"
                  (keydown)="keyDownHandler($event)"
                >
                <span class="input-group-append  border-left-0" >
                        <span class="input-group-text bg-transparent iconContainer" >
                          <div class = "iconDiv">
                            <a type = "button" (click)="toggleEye(1)">
                            <img class = "img-fluid eyeIcon" [src] = "eyeImageUrl2" alt = "eye">
                            </a> </div>
                        </span>
                      </span>
              </div>
            </div>
            <app-password-strength-bar [passwordToCheck]="newPassword.value" [barLabel]="barLabel" (statusEvent)="checkNewPasswordStrength($event)"></app-password-strength-bar>
            <div class="form-group row">
              <label class = "passwordLabel" >Confirm Password</label>
              <div class="input-group" >
                      <span
                        class="input-group-addon addonN"
                      >
                        <img class="img-fluid lockIcon"
                             src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/password.png"
                             alt="lock">
                      </span>
                <input
                  [type]="typeInput3"
                  class="passwordInput form-control border-right-0"
                  id="inputConfirmPassword3"
                  required
                  [formControl]="confirmPassword"
                  (keydown)="keyDownHandler($event)"

                >
                <span class="input-group-append  border-left-0" >
                        <span class="input-group-text bg-transparent iconContainer" >
                          <div class = "iconDiv"> <a type = "button" (click)="toggleEye(2)">
                            <img class = "img-fluid eyeIcon" [src] = "eyeImageUrl3" alt = "eye">
                          </a> </div>
                        </span>
                      </span>
              </div>
            </div>
          </div>
          <app-password-strength-bar [passwordToCheck]="confirmPassword.value" [barLabel]="barLabel" (statusEvent)="checkConfirmPasswordStrength($event)"></app-password-strength-bar>
          <h2 class="errorTxt" [hidden] = "mismatch">{{errorMsg}}</h2>
        </div>
      </div>
    </div>

  </div>
  <div class="text-center">
    <app-crudbutton text = "CHANGE PASSWORD"></app-crudbutton>
  </div>
  </form>
<br><br><br>
    <div class="card" style = "border: none" [hidden]="loadingStatus">
        <app-loadinganimation></app-loadinganimation>
    </div>


</div>


