.change-password .innerCard{
  border: none !important;
}

.change-password .lockIcon{
  max-height:30px
}
.change-password .passwordLabel{
  text-align:left;
  margin-left : 40px;
}

.change-password .addonN{
  margin-right: 5px
}

.change-password #inputConfirmPassword{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.change-password .iconDiv{
  color: #364F6B
}

.change-password .backBtn{
  max-height: 50px
}
