
  <div class="success">
    <div class="modal-body text-center">
      <img class = "img-thumbnail rounded-circle userProfileImg shadow img-fluid" [src] = "userProfileImage" alt = "userProfile">
      <button type="button text-center" class="btn btn-outline-warning">reset</button>
      <div class="wrapper">
        <div class="container card">
          <div class="upload-container card-body">
            <div class="border-container">
              <div class="d-flex justify-content-center">
                <image-cropper
                  [hidden] = "status"
                  style="width: 300px; height:300px"
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="10 / 10"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded($event)"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
              </div>

              <div class="icons fa-4x"  [hidden] = "!status">
                <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
              </div>
              <br>
              <input  class= "form-control text-center" type="file" id="file-upload" accept="image/*" (change)="imagePreview($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "d-flex justify-content-center">
      <button type="button" class="btn" id="okbtn" (click)="saveDetails()">Save</button>
      <button type="button" class="btn" id="canclbtn" (click)="closeModal()">Don't save</button>
    </div>

  </div>







