.activitycard .addTask{

  background-color: #FC5185;
  font-weight: bold;
  color: white;
  border: none;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition-duration: 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.activitycard .btnn{
  border: none;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.activitycard .btnn:hover{
  background-color: #3FC1C9;
}

.activitycard .addTask:hover{
  background-color: #3FC1C9;
  color: white;
}
.activitycard.btn {

  display: block;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.activitycard .add{

  width:18px;
  height: 18px;
  margin-right: 5px;
}

.activitycard .btn2{
  border: none;
  outline:none;
  font-weight: bold;

}

.activitycard .naa{
  color:  #364F6B;
  font-size: 18px;
}

.activitycard .btn2:hover, .btn2:focus {
  outline: none;
}


.activitycard .txt{
  font-size: 10px;
  margin-top: 1px;
  color: red;
}

.activitycard .form-check-input{

  border: 2px solid #3FC1C9;
}

.activitycard .form-check-label{

  color: #364F6B;
  font-family: Rambla, sans-serif;
}

.activitycard .editf{

  width:28px;
  height: 28px;
}

.activitycard .btn8{
  background-color: #34FC34;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.activitycard .btn8:hover{
  background-color: #1ec41e;
}

.activitycard .btn9{
  background-color: #FFFF00;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.activitycard .btn9:hover{
  background-color: #e0e013;
}


.activitycard .btn10{
  background-color: #FC3D3D;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.activitycard .btn10:hover{
  background-color: #f61c1c;
}

.activitycard .btnnn{

  width:20px;
  height: 20px;
}

::ng-deep .mat-expansion-panel-body {
  background-color: white;
  border : 3px solid #3FC1C9;
  border-top: none;
  border-radius: 5px;

}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #1ec41e;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {

  border-radius: 2px;
  height: 8px !important;
}

::ng-deep .mat-expansion-panel-header{
  background-color: #1ec41e;
}

.mat-expansion-panel:hover {
  background-color: #1ec41e;
}

::ng-deep .mat-expansion-panel-header-title{
  color:white;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:focus{
  background-color: #1ec41e;
}

