.body{
  text-align: center;
  border-width: 2px;
  border-color: #3FC1C9;
  box-shadow: 4px 5px #e3e3e3;
  font-family: Rambla;
  width: 200px;
  line-height: 0px;
}
.btn.btn-rounded {
  border-radius: 50px
}

.crdImg{
  border-radius: 50%;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.imgBtn {
  width: 30px;
  margin-top: 10px;

}
