<div class = "friendcarddiv">
  <div class="card body">

    <img class="crdImg" src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/IMG_6407.JPG" alt="Card image cap">

    <div class="card-body">
      <h3 style = "font-weight: bold; margin-bottom: 3px">Dulan Bamunuge</h3>
      <p>{{noofGroups}} Groups in common</p>
      <div class = "row text-center">

          <a href = ""><img class = "imgBtn" (click)="removeFriend()"  src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/remove-user.png"></a>

      </div>

    </div>
  </div>
</div>
