<div class = "userProfile">
  <div class="card userImageCard">
    <div class="card-body text-center userCardBody">

      <img class = "img-thumbnail rounded-circle userProfileImg shadow img-fluid" src = "{{userProfileImage}}" alt = "userProfile">
      <br><br><a type = "button" (click)="openUserImageEditModal()" [hidden]="googleUserStatus"><img class = "img-fluid pencil iconClickable" src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/pencil.png" alt = "pencil"></a>
        <div>
        <br>
        <h1 class="username">{{user.Username}}</h1>
      </div>
    </div>
  </div>
  <div class="card userDetails">
    <app-userdetails userID={{userID}}></app-userdetails>
<!--<app-changepassword></app-changepassword>-->
     </div>
</div>

<ng-template #content99 let-modal>
  <app-userprofileimagemodal (someEvent)="updateUserProfileImage()" userProfileImage = {{userProfileImage}}></app-userprofileimagemodal>
</ng-template>



<!--// testing card-->
<!--<mat-accordion>-->
<!--  &lt;!&ndash; #docregion basic-panel &ndash;&gt;-->
<!--  &lt;!&ndash; #docregion hide-toggle &ndash;&gt;-->
<!--  <mat-expansion-panel (opened)="panelOpenState = true"-->
<!--                       (closed)="panelOpenState = false">-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        Self aware panel-->
<!--      </mat-panel-title>-->
<!--      <mat-panel-description>-->
<!--        Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
<!--      </mat-panel-description>-->
<!--    </mat-expansion-panel-header>-->
<!--    <p>I'm visible because I am open</p>-->
<!--  </mat-expansion-panel>-->
<!--</mat-accordion>-->
