.bsic svg{
  font-weight: bold;
  width: 60px;
  height: 60px;
  fill:#FC5185;
}
.bsic modal-body{
  color: #364F6B;
}

.bsic h1{
  font-weight: bold;
  margin-bottom: 5px;
  color: #364F6B;
}
.bsic h3{
  margin-bottom: 5px;
  color: #364F6B;
}

.bsic #okbtn{

  background-color: #3FC1C9;
  color: #F5F5F5;
  margin-right: 10px;
  margin-bottom: 30px;
}

.bsic #canclbtn{
  background-color: #364F6B;
  color: #F5F5F5;
  margin-left: 15px;
  margin-bottom: 30px;
}


 .innerCard{
  border: none !important;
}

 .lockIcon{
  max-height:30px
}
.passwordLabel{
  text-align:left;
  margin-left: 40px;
  color: #364F6B;
  font-family: Roboto, normal, serif;
  font-size: 20px
}

 .addonN{
  margin-right: 5px
}

 #inputConfirmPassword{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border : 1px solid #3FC1C9;
}

 #inputConfirmPassword2{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border : 1px solid #3FC1C9;
}
 #inputConfirmPassword3{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border : 1px solid #3FC1C9;
}

 .iconDiv{
  color: #364F6B
}

 .backBtn{
  max-height: 45px;
}

 .iconContainer{
  border : 1px solid #3FC1C9;
  border-left: 0;
}

 .eyeIcon{
  max-height: 20px;
}

 .errorTxt{
  color: #FC5185;
}

@media screen and (max-width: 600px) {
  .backBtn{
    max-height: 30px
  }
}


@media screen and (max-width: 300px) {
  .lockIcon{
    max-height:20px
  }

.passwordLabel{
    margin-left: 25px;
    color: #364F6B;
    font-family: Roboto, normal, serif;
    font-size: 10px
  }
}

@media screen and (max-width: 400px) {
  .passwordLabel{
    margin-left: 35px;
    color: #364F6B;
    font-family: Roboto, normal, serif;
    font-size: 15px
  }
}


