
 <div class="bsic">

   <form ngNativeValidate (ngSubmit)="saveDetails()">
    <div class="modal-body text-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
      <br><br>
      <h1>Are You Sure?</h1>
      <h3>You won’t be able to revert this !</h3>
      <h2 style = "color : #FC5185">Please enter you password to confirm...</h2>
      <br>
      <div class="input-group" >
        <input
          [type]= "typeInput1"
          class="passwordInput form-control border-right-0"
          id="inputConfirmPassword"
          required
          [formControl]="currentPassword"
          (keydown)="keyDownHandler($event)"
        >
        <span class="input-group-append  border-left-0" >
                        <span class="input-group-text bg-transparent iconContainer" >
                          <div class = "iconDiv">  <a type = "button" (click)="toggleEye()">
                            <img class = "img-fluid eyeIcon" [src] = "eyeImageUrl1" alt = "eye">
                          </a> </div>
                        </span>
                      </span>
      </div>
    </div>

   <div class = "text-center">
     <h2 style = "color : #FC5185" [hidden]="errorMsgStatus">{{errorMsg}}</h2>
     <br>
     <button type="submit" class = "btn" id="okbtn">Yes, Delete!</button>

     <button type="button" class="btn" id="canclbtn" (click)="closeModal()">Cancel</button>

   </div>
   </form>
    </div>




