@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@charset "utf-8";

#crudbtn{
  color: #F5F5F5;
  font-family: Roboto, normal, serif;
  padding: 10px 20px 10px 20px;
  border-radius:2px;
}
@media (max-width: 110px) {
  #crudbtn {
    width: 100%;
  }
}

#crudbtn:hover{
  background-color : #F5F5F5;
  color : #FC5185;
  border-radius:2px;
}
