.sharemod #grad {
  background-image: linear-gradient(#3FC1C9, #FC5185);
  text-align: center;
}

.sharemod .modal-body{
  margin-left: 100px;
  margin-right: 100px;
}

.sharemod #exampleModalLabel{
  text-align: center;
  font-weight: bold;
  color: white;
  margin:auto;
  padding-left: 70px;
}

.sharemod #img11{
  width: 40%;
  border-radius: 300px;
}

.sharemod .crdImg{
  border-radius: 50%;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}

.sharemod #spaan{
  margin: 10px 0px 0px 50px;
  font-weight: bold;
}

.sharemod #icnImg{
  width: 23px;
  margin-left: 20px;
}

.sharemod #btn33{
  background-color: white;
  border:0px;
  margin: 25px;
}

.sharemod #name1{
  font-size: 80%;
  font-weight: normal;
}
.sharemod #name2{
  font-size: 80%;
  font-weight: normal;
}

.sharemod #card1{
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border: 0px;
}

@media only screen and (max-width: 992px) {

  .sharemod .modal-body{
    margin-left: 10px;
    margin-right: 10px;
  }

  .sharemod #spaan{
    margin: 10px 0px 0px 50px;
  }
  .sharemod #col101 {
    display: none;
  }
}

@media only screen and (max-width: 767px) {

  .sharemod .modal-body {
    margin-left: 20px;
    margin-right: 20px;
  }

  .sharemod #spaan {
    margin: 10px 0px 0px 50px;
  }

  .sharemod #col101 {
    display: none;
  }
  .sharemod #row1{
    width: 110%;
  }
}


@media only screen and (max-width: 575px) {

  .sharemod .modal-body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .sharemod #spaan {
    margin: 10px 0px 0px 0px;
  }

  .sharemod #col101 {
    display: none;
  }
  .sharemod #row1{
    width: 50%;
    margin: auto;
  }
}


@media only screen and (max-width: 475px) {

  .sharemod .modal-body {
    margin-left: 20px;
    margin-right: 20px;
  }

  .sharemod #spaan {
    margin: 10px 0px 0px 0px;
  }

  .sharemod #col101 {
    display: none;
  }
  .sharemod #row1{
    width: 70%;
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {

  .sharemod .modal-body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .sharemod #spaan {
    margin: 10px 0px 0px 0px;
  }

  .sharemod #col101 {
    display: none;
  }
  .sharemod #row1{
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 330px) {

  .sharemod .modal-body {
    margin-left: 0px;
    margin-right: 0px;
  }

  .sharemod #spaan {
    margin: 10px 0px 0px 0px;
  }

  .sharemod #col101 {
    display: none;
  }
  .sharemod #row1{
    width: 100%;
    margin: auto;
  }
}


.sharemod #row1{
  padding: 10px 0px 10px 0px;
  border: 1px solid #3FC1C9;
  border-radius: 10px;
  box-shadow: 2px 2px  #3FC1C9;
  margin-bottom: 10px;
  color: #364F6B;
}







/*.crdImg2{*/
/*  border-radius: 50%;*/
/*  width: 80px;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*}*/

/*#spaan2{*/
/*  margin: 10px 0px 0px 35px;*/
/*  font-weight: bold;*/
/*}*/

/*#icnImg2{*/
/*  width: 23px;*/
/*}*/

/*#btn34{*/
/*  background-color: white;*/
/*  border:0px;*/
/*  margin: 25px;*/
/*}*/

/*#name3{*/
/*  font-size: 80%;*/
/*  font-weight: normal;*/
/*}*/
/*#name4{*/
/*  font-size: 80%;*/
/*  font-weight: normal;*/
/*}*/

/*#card2{*/
/*  margin-top: 5px;*/
/*  margin-left: 20px;*/
/*  margin-right: 20px;*/
/*  border: 0px;*/
/*}*/

/*@media only screen and (max-width: 768px) {*/
/*  #row2{*/
/*    width: 50%;*/
/*    padding-bottom: 0px;*/

/*  }*/
/*  #spaan2{*/
/*    margin: 10px 0px 0px 10px;*/
/*  }*/
/*  #col12 {*/
/*    display: none;*/
/*  }*/
/*}*/

/*#row2{*/
/*  border: 1px solid black;*/
/*  padding: 10px 0px 10px 0px;*/
/*  border: 1px solid #3FC1C9;*/
/*  border-radius: 10px;*/
/*  box-shadow: 2px 2px  #364F6B;*/
/*  margin-bottom: 10px;*/
/*  color: #364F6B;*/
/*}*/
