<div class="nohead">
  <div class="row">
    <div class="col">
      <h1>Notifications{{headertext1}}</h1>
      <h3>56 Notifications{{headertext2}}</h3>
    </div>

    <div class="col-1" id="cul1">
    </div>
    <div class="col-1" id="cul2">
    </div>
    <div class="col-1" id="cul3">
    </div>
    <div class="col-1" id="cul4">
    </div>
    <div class="col-1" id="cul6">
    </div>

    <div class="col-sm text-left" id="cul5">
      <app-search text="Search notifications"></app-search>
    </div>
</div>
  <hr>
</div>
