<div class="signup" >
<div class="row">
  <div class="col-4">

    <div class="content">

      <div class="name">
        <h1 class="welcome">Welcome To</h1>
        <h1 class="welcomee"> Tâche</h1>
      </div>
<br/>
      <div class="logo">
        <img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/AppLogo.png" id="logo">
      </div>

      <div class="image1">
        <img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/tasking.jpg" id="image1">
      </div>

    </div>

  </div>

  <div class="col">

    <div class="card">
      <div class="card-body" id="card1">
      <h2 class="create">Create an Account</h2>
        <h3 class = "errorMsg" [hidden] = "ErrorMessageStatus">{{ErrorMessage}}</h3>
        <h3 class = "errorMsg" >{{errormsg}}</h3>
        <div class="container">

    <form class="fbody"  #signUpForm="ngForm" (ngSubmit)="addUser()" ngNativeValidate>

      <div class="form-group">
      <div class="inner-addon left-addon mb-3">
        <img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/user2.png" class="user1">
        <input type="text" [formControl]="Username" class="form-control" placeholder="Username" onkeypress="return /[a-z]/i.test(event.key)" required>
      </div>
      </div>

      <div class="form-group">
      <div class="inner-addon left-addon mb-3">
        <img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/email1.png" class="user1">
        <input type="email" [formControl]= "Email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Invalid email address"  placeholder="Email" required>
      </div>
      </div>

      <div class="form-group">
      <div class="inner-addon left-addon mb-3">
        <img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/user2.png" class="user1">
        <input type="text" [formControl]="FirstName" class="form-control" placeholder="First Name" required onkeypress="return /[a-z]/i.test(event.key)">

      </div>
      </div>

        <div class="form-group">
      <div class="inner-addon left-addon mb-3">
        <img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/user2.png" class="user1">
        <input type="text" [formControl]="LastName" class="form-control" placeholder="Last Name" required onkeypress="return /[a-z]/i.test(event.key)">
      </div>
      </div>

      <div class="form-group">
      <div class="inner-addon left-addon mb-3">
        <img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/padlock1.png" class="user1">
        <input [type]="password1"  [formControl]="Password" class="form-control" placeholder="Password"  (keydown)="keyDownHandler($event)" required>
        <span class="p-viewer">
          <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!show1" (click)="onClick()"></i>
        <i class="fa fa-eye " aria-hidden="true" *ngIf="show1" (click)="onClick()"></i>
        </span>
      </div>
        <app-password-strength-bar [passwordToCheck]="Password.value" [barLabel]="barLabel" (statusEvent)="checkPasswordStrength($event)"></app-password-strength-bar>

      </div>

      <div class="form-group">
      <div class="inner-addon left-addon mb-3">
        <img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/padlock1.png" class="user1">
        <input [type]="password2"  class="form-control" placeholder="Re-enter Password" [formControl]="ConfirmPassword"  (keydown)="keyDownHandler($event)" required>
        <span class="p-viewer">
          <i class="fa fa-eye-slash " aria-hidden="true" *ngIf="!show2" (click)="onClickk()"> </i>
        <i class="fa fa-eye " aria-hidden="true" *ngIf="show2" (click)="onClickk()"></i>
        </span>
      </div>
        <app-password-strength-bar [passwordToCheck]="ConfirmPassword.value"  [barLabel]="barLabel" (statusEvent)="checkConfirmPasswordStrength($event)" hidden></app-password-strength-bar>
        <h4 class="errorTxt" [hidden] = "mismatch">{{errorMsg}}</h4>
      </div>
      <br/>
      <div class="form-group">
        <button type="button" class="button button1" (click)="openUserImageEditModal()">Choose a Profile Image</button>
      </div>
      <br/>
      <div class="form-group">
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" [formControl] = "checkbox" required>
        <label id="Agree" class="form-check-label" for="exampleCheck1">Agree to terms and conditions !</label> <a>Click Here</a>
      </div>
      </div>

      <button type="submit" class="btn btn-primary" id="sign" >Sign Up</button>
<br/><br/><br/>
      <hr class="hrr">
      <div class="box">
        <p>OR</p>
      </div>
<!--      <button class="btn2"><img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/search.png" id="gicn"> Continue with Google</button>-->
      <app-googlesignup (event)="triggerErrorMessage('Email Already Exists!')"></app-googlesignup>
<br/><br/>

      <p class="Already">Already have an account ? <a>SIGN IN </a></p>

    </form>
        </div>
  </div>
  </div>
  </div>

  <div class="col-3">

    <div class="image2">
      <img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/management2.jpg" id="image2">
    </div>

    </div>
</div>
</div>

<!--modal-->
<ng-template #content let-modal>
  <app-successmodal></app-successmodal>
</ng-template>


<ng-template #content3 let-modal  id = "content3">
  <app-loadinganimation></app-loadinganimation>
</ng-template>

<ng-template #content4 let-modal id = "content4">
  <app-errormodal></app-errormodal>
</ng-template>

<ng-template #content99 let-modal>
<!--  <app-userprofileimagemodal  userProfileImage = {{userProfileImage}}></app-userprofileimagemodal>-->
  <app-signupuserprofileimagemodal (someEvent)="getUserProfileImage($event)" ></app-signupuserprofileimagemodal>
</ng-template>
