
  <div class="modal-header mainHeader text-center">
     <h3 class="modal-title mainTitle w-100"><b>Create New Project</b></h3>
    <div class = "closeContainer">
      <button type="button" class="close closeBtn" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body mainBody">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="mb-3">
            <label class="form-label labels">Project Name<font class = "required">*</font></label>
            <input type="text" [(ngModel)]="projectName" class="form-control inputFieldsTxt" placeholder = "Project Name">



          </div>

        </div>
        <div class="col-sm">
          <div class="mb-3">
            <label class="form-label labels">Deadline (Optional)</label>
            <input type="date" [(ngModel)]="Deadline"  min="{{min}}" id="deadline" class="form-control inputFieldsTxt">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label class = "labels">Description<font class = "required">*</font></label>
            <textarea  [(ngModel)]="Description" class="form-control inputFieldsTxt"  rows="5" placeholder = "Description"></textarea>
          </div>
        </div>
        <div class="col-sm">
          <div class="mb-3">
            <label class="form-label labels">Cover Image</label>
            <input type="file" [(ngModel)]="CoverImage" class="form-control inputFieldsTxt"  accept="image/*">
          </div>
          <div class="mb-3">
            <label class="form-label labels">Main Image</label>
            <input type="file"  [(ngModel)]="MainImage" class="form-control inputFieldsTxt"  accept="image/*">
          </div>
        </div>
      </div>
    </div>
    <div class = "text-center">
      <app-crudbuttonpink text="CREATE"  (click)="addProject()" ></app-crudbuttonpink>
    </div>
  </div>


<!--  <script>-->
<!--    $(function () {-->
<!--      var date = new Date();-->
<!--      date.setDate(date.getDate()-1);-->
<!--      $('#deadline').datetimepicker({-->
<!--        startDate: date-->
<!--      });-->
<!--    });-->
<!--  </script>-->

  <!--modal-->
  <ng-template #content let-modal>
    <app-successmodal></app-successmodal>
  </ng-template>


  <ng-template #content3 let-modal  id = "content3">
    <app-loadinganimation></app-loadinganimation>
  </ng-template>



  <ng-template #content4 let-modal  id = "content4">
    <app-errormodal></app-errormodal>
  </ng-template>
