<!-- Navigation -->
<div class="navigation">
<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">

    <a class="navbar-brand" href="#">

  <div class="image-text">
    <div class="image-text__image">
      <img src="./assets/images/images Used in Project Management UI Design/AppLogo.png"/>
    </div>
    <div class="vl"></div>
    <h1 class=" mb-4 font-weight-bold" id="companyname">
      Tâche
    </h1>
  </div>

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item active">
          <a class="nav-link" href="#">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>

      </ul>
    </div>


</nav>
<br/><br/><br/><br/>
</div>
