<app-sidebar></app-sidebar>
<!--<app-login></app-login>-->
<!--<app-signuppage></app-signuppage>-->
<!--<app-featurespage></app-featurespage>-->
<!--<app-contactus></app-contactus>-->
<!--<app-forgotpassword></app-forgotpassword>-->
<!--images for when image error has been occurred -->
<!--<img src="https://plchldr.co/i/500x500?bg=FC5185&text=Mian Image Cannot be loaded" alt="plchldr.co">-->
<!--<img src="https://plchldr.co/i/500x500?bg=364F6B&text=Cover Image Cannot be loaded" alt="plchldr.co">-->
<!--<app-userprofile></app-userprofile>-->
