<!--<app-sidebar></app-sidebar>-->
<!--<app-homepage></app-homepage>-->
<!--<app-footer></app-footer>-->
<!--<app-workspacecard></app-workspacecard>-->
<!--<app-projectcard></app-projectcard>-->
<!--<app-workspacecard></app-workspacecard>-->
<!--<app-dashboard></app-dashboard>-->
<!--<app-workspaceadd></app-workspaceadd>-->
<!--<app-projectadd></app-projectadd>-->
<!--<app-projectedit></app-projectedit>-->
<!--<app-userdetails></app-userdetails>-->
<!--<app-dashboard></app-dashboard>-->
<!--<app-workspacepage ></app-workspacepage>-->
<!--<app-invitationscard [Sender]="sender" [Workspace]="workspace"  [Image]="image" ></app-invitationscard>-->
<!--<app-notificationspage [UserID]="user" ></app-notificationspage>-->
<app-projectpage></app-projectpage>
