<div class="projectcard">
  <section>
    <div class="container">
      <div class="row">

        <div class="col">
          <br><br>
          <div class="card profile-card-2">
            <div class="card-img-block">
              <img class="img-fluid w-100" src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/1326-meals_food_collage-1296x728-header.webp" alt="Card image cap" id="cover">
            </div>
            <div class="card-body pt-5">
              <img src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/food-delivery.jpeg" class="profile"/>
              <h2 class="card-title">{{title}} <br class="pr">( Project ) </h2>
              <p class="card-text">{{description}}</p>

              <div class="deadline"><p>Deadline : {{deadLine}}</p></div>
              <div class="avatar"><app-avatar-group [projectIDorWorkspaceID]="projectID"></app-avatar-group> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

