
<div class = "sendfriendrequestdiv">
<div class="card body">
  <div class="card-body">
    <h2 class="card-title" style = "text-align: center">Add Friends</h2>
    <hr>
    <h4 class="card-title"> Search by Name or Email</h4>
    <div class = "row">
      <form class="example-form">
        <input class = "field"
               type="text"
               placeholder="e.g :- Tharindu or Tharindu@gmail.com"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>

      </form>
    </div>
    <br>
    <div class = "row" style = "overflow-y: scroll; height: 350px">
      <div class = "row" *ngFor="let avatarArrays of userArray;">
        <div class = "col-md-12">
          <div class="column" >
            <a href = ""><img class = "profileImg"  src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/IMG_6407.JPG"></a>
          </div>
          <div class="column1">
            <h4 class = "nametext">Sonal Uchiru</h4>
          </div>
<!--          </div>-->


        </div>
      </div>

    </div>

  </div>
</div>
</div>
