.sendfriendrequestdiv .body{
  box-shadow: 2px 4px 4px 2px rgba(54, 79, 107, 0.25);
  border: 1px solid #364F6B;
  box-sizing: border-box;
  font-family: Rambla, Roboto, normal, serif;
  height: 550px;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
}
.sendfriendrequestdiv .btn.btn-rounded {
  border-radius: 50px
}

.sendfriendrequestdiv .crdImg{
  border-radius: 50%;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.sendfriendrequestdiv .profileImg {

  border-radius: 100%;
  width: 60px;
}

.sendfriendrequestdiv hr{
  color:#3FC1C9;
}

.sendfriendrequestdiv .example-form {
  background-color: white;
  color:black;
}

.sendfriendrequestdiv .example-full-width {
  width: 100%;
}

.sendfriendrequestdiv .field{
  border: 1px solid #CED4DA;
  width: 99%;
  height:35px;
  align-content: center;
  box-sizing: border-box;
  border-radius: 4px;
}

.sendfriendrequestdiv input{
  border-radius: 3px;
  padding-left: 10px;

}

::placeholder {
  color: #DCDCDC;
  opacity: 1;
  font-weight: bold;
}


.sendfriendrequestdiv .column {
  float: left;
  width: 33.33%;
  padding-left: 5px;
  padding-bottom: 3px;

}

.sendfriendrequestdiv .column1 {
  float: left;
  width: 33.33%;
  padding-left: 5px;
  padding-top: 18px;
}

