<div class="login">
  <div class="row">
    <div class="col-3" id="coll1">
      <h1 id="name1">Welcome To</h1>
      <h1> Tâche</h1>
      <img id="logo1" src="./assets/images/images Used in Project Management UI Design/AppLogo.png">
      <img id="task1" src="./assets/images/featurePageIcons/tasking.jpg">
    </div>

    <div class="col" id="coll2">
      <div class="container">
        <form id="form11" ngNativeValidate (ngSubmit)="login()">
          <h2>Login</h2>
          <div class="form-group input-icons">
            <div class="inner-addon left-addon mb-3">
              <i class="fas fa-user"></i>
              <input [formControl] = 'Username' type="text" class="form-control" id="exampleInputName1" aria-describedby="textHelp" placeholder="Username" required>
              <h3 [hidden]="flagName1">*Username is Required</h3>
              <!--            <span class="text-danger" *ngIf="form.controls['Username'].dirty && form.hasError('required','email')">-->
              <!--              *Username is Required-->
              <!--            </span>-->
            </div>
          </div>
          <div class="form-group">

            <div class="inner-addon left-addon mb-3">
              <i class="fas fa-unlock-alt"></i>
              <input [formControl] = 'Password'  [type]= "typeInput2" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
              <span class="input-group-append  border-left-0" >
                        <span class="input-group-text bg-transparent iconContainer" >
                          <div class = "iconDiv">
                            <a type = "button" (click)="toggleEye(1)">
                            <img class = "img-fluid eyeIcon" [src] = "eyeImageUrl2" alt = "eye">
                            </a> </div>
                        </span>
                      </span>
              <h3 [hidden]="flagName2">*Password is Required</h3>
            </div>
          </div>
          <button id="lgbtn" type="submit" class="btn btn-lg" >LOGIN</button>

          <label id="fpass" routerLink="forgotpassword">Forgot Password ?</label>
          <br>
          <br>
          <hr>
        <div class="text-center" id="or">
          <p>OR</p>
        </div>
          <app-googlesignup (event)="triggerErrorMessage('Email Already Exists!')" ></app-googlesignup>
          <span class="text-center" id="acc">Need an account ? <b id="clickme"> SIGN UP</b></span>
        </form>
      </div>
    </div>
    <div class="col-3" id="coll3">
      <img id="task2" src="./assets/images/featurePageIcons/management2.jpg">
    </div>

  </div>
  <ng-template #content let-modal  class = "mainModal">
    <app-loginerr [hidden]="err1" text1="Invalid Credentials" text2="Re-enter Your Password">
    </app-loginerr>
  </ng-template>
  <ng-template #content2 let-modal  class = "mainModal">
    <app-loginerr [hidden]="err2"  text1="Invalid User" text2="User does not exist">
    </app-loginerr>
  </ng-template>

</div>
