<div class="login">
  <div class="row">
    <div class="col-3" id="coll1">
      <h1 id="name1">Welcome To</h1>
      <h1> Tâche</h1>
      <img id="logo1" src="./assets/images/images Used in Project Management UI Design/AppLogo.png">
      <img id="task1" src="./assets/images/featurePageIcons/tasking.jpg">
    </div>

    <div class="col" id="coll2">
      <div class="container">
      <form id="form11">
        <h2>Login</h2>
        <div class="form-group input-icons">
<!--          <i class="fa fa-user icon"></i>-->
          <input type="text" class="form-control input-field" id="exampleInputName1" aria-describedby="textHelp" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button id="lgbtn" type="submit" class="btn btn-lg">LOGIN</button>
        <label id="fpass" routerLink="forgotpassword">Forgot Password ?</label>
<br>
        <hr>
        <div class="box">
          <p>OR</p>
        </div>
        <button id="googlebtn" class="btn"><img id="gicon" src="./assets/images/images Used in Project Management UI Design/google.png">Continue With Google</button>
        <span class="text-center" id="acc">Need an account ? <b> SIGN UP</b></span>
      </form>
        </div>
    </div>
    <div class="col-3" id="coll3">
      <img id="task2" src="./assets/images/featurePageIcons/management2.jpg">
    </div>

  </div>

</div>
