<div class="contact">
<header>
  <div class="container">
    <h1>Get in Touch With Us</h1>

    <p>Tâche is here to help you at any stage of your project management journey</p>
  </div>
</header>
<br>
<div class="row">
  <div class="col-2" id="col1">
  </div>
  <!--  -->
  <div class="col-3" id="col2">
    <h1>Ready to see Tâche for yourself ?</h1>
    <br>
    <p>We’d love to show you how Tâche can help your team do more of their best work. Fill out the form and we’ll be in touch within 24 hours.</p>
<img class="w-100" src="./assets/images/images(Task Management)\rebrand-hero-illustration_use-case_enterprise-page_1x.png">
  </div>

  <div class="col-1" id="col3">
  </div>

  <div class="col" id="col5">

<!--    <app-form></app-form>-->
    <div class="container" id="form1">
      <form class="add-form">
        <br>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="InputFirstName">First Name <span>*</span></label>
              <input type="text" class="form-control" id="InputFirstName" aria-describedby="firstnameHelp" placeholder="">
            </div>
          </div>

          <div class="col-sm">
            <div class="form-group">
              <label for="InputLastName">Last Name <span>*</span></label>
              <input type="text" class="form-control" id="InputLastName" aria-describedby="firstnameHelp" placeholder="">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email <span>*</span></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
        </div>

        <div class="form-group">
          <label for="exampleInputNumber1">Phone Number <span>*</span></label>
          <input type="number" class="form-control" id="exampleInputNumber1" aria-describedby="numberHelp" placeholder="">
        </div>

        <div class="form-group">
          <label for="exampleInputMore1">How can our team help you? <span>*</span></label>
          <textarea type="text" class="form-control" id="exampleInputMore1" aria-describedby="Help" placeholder="Tell us more about your team and what work you’d like to manage with Tâche"></textarea>
        </div>

        <div id="btn1">
          <app-crudbutton color="#3FC1C9" text="GET IN TOUCH"></app-crudbutton>
        </div>

      </form>



      <span>Fields marked with an asterisk(*) are required</span>
      <br><br>
      <br>
    </div>

  </div>
  <div class="col-1" id="col4">

  </div>

</div>
</div>
