
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

#col2{
  color:#364F6B;
}

span{
  font-size: 80%;
  color: #FC5185;
  font-family: Roboto, normal, serif;
}

#form1{
  align-items: center;
  color:#364F6B;
  text-align: left;
  border-radius: 5px;
  border-left: 1px solid #FC5185;
  border-top: 1px solid #F5F5F5;
  box-shadow: 2px 2px 1px 1px #FC5185;
  padding: 0px 30px 0px 30px;
  font-family: Roboto, normal, serif;
}

/*.form-group{*/
/*  margin-top: 1px;*/
/*  padding: 5px;*/
/*}*/


@media (max-width: 800px){
  #col1{
    display: none;
  }#col2{
    display: none;
  }#col3{
     display: none;
  }#col4{
    display: none;
    }
}

@media (max-width: 600px){
  #col5{
    margin: 20px;
  }
}

header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px;
  background-color: #3FC1C9;
  font-family: Roboto, normal, serif;
  color:#364F6B;
  font-family: Roboto, normal, serif;

  /*font-weight: bold;*/
}


#btn1{
  text-align: center;
  color: #f5f5f5;
  padding: 20px;
}

input{
  border-color: #364F6B ;
  font-family: Roboto, normal, serif;
}

textarea{
  border-color: #364F6B ;
  font-family: Roboto, normal, serif;
}

h1{
  color: #364F6B ;
  font-family: Roboto, normal, serif;
}

p{
  color: #364F6B ;
  font-family: Roboto, normal, serif;
}
