<div class="featuresPage">
  <div class="card">
    <div class="card-body">
      <h1 class="headerText"><b>Work as One</b></h1>
      <h1 class="subHeaderText">Manage your projects from start to finish. With all of your projects in Tâche, you’ll
        always know who’s doing what, by when.</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="container">
        <!--row 1-->
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col-sm text-center">
                  <img src="./assets/images/featurePageIcons/project-management.png" class=" img-fluid icons" alt="project brief">
                </div>
                <div class="col">
                  <br>
                  <h2 class="titlePara"><b>Projects</b></h2>
                  <h3 class="titlePara">Organize your work into shared projects for your initiatives, meetings, and
                    programs.</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col-sm text-center">
                  <img src="./assets/images/featurePageIcons/goal.png" class="img-fluid icons" alt="done">
                </div>
                <div class="col">
                  <br>
                  <h2 class="titlePara"><b>Tasks</b></h2>
                  <h3 class="titlePara">Break work into manageable pieces for you and your team.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <!--row 2-->
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col-sm text-center">
                  <img src="./assets/images/featurePageIcons/task.png" alt="Subtasks" class="img-fluid icons">
                </div>
                <div class="col">
                  <br>
                  <h2 class="titlePara"><b>Subtasks</b></h2>
                  <h3 class="titlePara">Break up a task into smaller parts, or show additional steps to complete an
                    overall task.</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col-sm text-center">
                  <img src="./assets/images/featurePageIcons/mission.png" alt="milestone" class="img-fluid icons">
                </div>
                <div class="col">
                  <br>
                  <h2 class="titlePara"><b>Milestones</b></h2>
                  <h3 class="titlePara">Visualize significant checkpoints in your project to measure and share
                    progress.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>

        <!--row 3-->
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col-sm text-center">
                  <img src="./assets/images/featurePageIcons/rating.png" alt="user image" class="img-fluid icons">
                </div>
                <div class="col">
                  <br>
                  <h2 class="titlePara"><b>Task assignees</b></h2>
                  <h3 class="titlePara">Give tasks a clear owner, so everyone knows who’s responsible.</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col-sm text-center">
                  <img src="./assets/images/featurePageIcons/hourglass.png" alt="dates" class="img-fluid icons">
                </div>
                <div class="col">
                  <br>
                  <h2 class="titlePara"><b>Due dates and times</b></h2>
                  <h3 class="titlePara">Specify the date and time something is due so everyone’s working off the same
                    deadline—no matter their time zone.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="./assets/images/images(Task%20Management)/9229bd.png" class="img-fluid" alt="task main"><br>
          </div>
          <div class="col">
            <br>
            <h1 class="headerText"><b>Share your plan with everyone</b></h1><br><br>
            <h1 class="subHeaderText">Showcase your team’s work and get buy-in on your plan, so everyone’s on the same
              page.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h1 class="headerText"><b>Views and reporting</b></h1>
      <h1 class="subHeaderText">Easily know where work stands and see what’s happening across your entire organization
        with reporting capabilities.</h1>
    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <div class="container">
        <!--row 1-->
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col-sm text-center">
                  <img src="./assets/images/featurePageIcons/task-list.png" alt="customer" class="img-fluid icons">
                </div>
                <div class="col">
                  <br>
                  <h2 class="titlePara"><b>My tasks</b></h2>
                  <h3 class="titlePara">Give tasks a clear owner, so everyone knows who’s responsible.</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col-sm text-center">
                  <img src="./assets/images/featurePageIcons/timeline.png" alt="timeline" class="img-fluid icons">
                </div>
                <div class="col">
                  <br>
                  <h2 class="titlePara"><b>Timeline</b></h2>
                  <h3 class="titlePara">See how the pieces of your project fit together and keep work on track as things
                    change.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <!--row 2-->
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col-sm text-center">
                  <img src="./assets/images/featurePageIcons/overload.png" alt="project groups" class="img-fluid icons">
                </div>
                <div class="col">
                  <br>
                  <h2 class="titlePara"><b>Workload</b></h2>
                  <h3 class="titlePara">Get a real-time overview of how busy team members are across projects, and
                    balance work to keep projects on track.</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col-sm text-center">
                  <img src="./assets/images/featurePageIcons/route.png" alt="customer" class="img-fluid icons">
                </div>
                <div class="col">
                  <br>
                  <h2 class="titlePara"><b>Accessibility</b></h2>
                  <h3 class="titlePara">See how the pieces of your project fit together and keep work on track as things
                    change.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bottomCard">
    <div class="card-body">
      <h1 class="headerText bottomText"><b>Get Better Work Done</b></h1>
      <app-getstarted></app-getstarted>
      <br><br>
    </div>
  </div>
</div>
