
.workspace .bg-box {
  max-height:460px;
  border : none !important;

}

.workspace .dynamicImage{
  max-height:460px;
}

.workspace .workspacename{
  font-size: 35px;
  color: #364F6B;
  font-weight: bold;
  margin-top: 70px;
}
.workspace .topic{
  font-size: 30px;
  color: #364F6B;
  /*font-weight: bold;*/
  margin-top: 200px;
}

.workspace .description{
  font-family: Rambla, Roboto, normal, serif;
  color: #3FC1C9;
  font-size: 20px;
  line-height: 35.16px;
}

.workspace .numbertext{
  font-family: Rambla, Roboto, normal, serif;
  color: #FC5185;
  font-size: 40px;
  line-height: 35.16px;
  font-weight: 700;
}


.workspace .titletext{
  font-family: Rambla, Roboto, normal, serif;
  color: #364F6B;
  font-size: 30px;
  line-height: 35.16px;
  font-weight: 700;
}
.workspace .membergroup{

  /*text-align: center;*/
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, +65%)

}


.workspace #box1 {
  float:left;
  width:35%;
  height:100px;
}
.workspace #leftbox {
  float:left;
  width:10%;
  height:100px;
}
.workspace #middlebox{
  float:left;
  width:10%;
  height:100px;
}
.workspace #rightbox{
  float:left;
  width:10%;
  height:100px;
}
.workspace #box2 {
  float:right;
  width:35%;
  height:100px;
}


.workspace .column {
  float: left;
  max-width: 30px;
  margin-left: 15px;

/*text-align: center;*/
}

.workspace .imgBtn {
  width: 100%;
  margin-top: 10px;
}

 /*Clearfix (clear floats) */
.workspace .editrow{
  /*margin-top: 10px;*/

  margin: 0;
  position: absolute;
  left: 49%;
  margin-right: -50%;
  transform: translate(-50%, +350%);

}
.workspace .editrow::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 420px) {
  .workspace .workspaceImg{
    max-width : 200px;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -65%)
  }
}

@media screen and (max-width: 420px) {
  .workspace .workspaceImg{
    max-width : 160px;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -65%)
  }
}

@media screen and (max-width: 370px) {
  .workspace .workspaceImg{
    max-width : 100px;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -65%)
  }
  .workspace .workspacename{
    font-size: 25px;
    color: #364F6B;
    font-weight: bold;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1025px) {
  .workspace .numbertext{
    font-size: 30px;
    line-height: 30.16px;
  }
  .workspace .titletext{
    font-size: 20px;
    line-height: 15.16px;

  }


}
@media screen and (max-width: 760px) {
  .workspace .numbertext{
    font-size: 30px;
    line-height: 15.16px;
  }
  .workspace .titletext{
    font-size: 20px;
    line-height: 10.16px;

  }

  .workspace #box1 {
    float:left;
    width:20%;
    height:100px;
  }
  .workspace #leftbox {
    float:left;
    width:20%;
    height:100px;
  }
  .workspace #middlebox{
    float:left;
    width:20%;
    height:100px;
  }
  .workspace #rightbox{
    float:left;
    width:20%;
    height:100px;
  }
  .workspace #box2 {
    float:right;
    width:20%;
    height:100px;
  }
}

* {
  box-sizing: border-box;
}


@media screen and (max-width: 415px) {
  .workspace .numbertext{
    font-size: 30px;
    line-height: 15.16px;
  }
  .workspace .titletext{
    font-size: 20px;
    line-height: 10.16px;

  }
  .workspace #box1 {
    float:left;
    width:5%;
    height:100px;
  }
  .workspace #leftbox {
    float:left;
    width:30%;
    height:100px;
  }
  .workspace #middlebox{
    float:left;
    width:30%;
    height:100px;
  }
  .workspace #rightbox{
    float:left;
    width:30%;
    height:100px;
  }
  .workspace #box2 {
    float:right;
    width:5%;
    height:100px;
  }
}
