<div class = "workspace">

    <div class="bg-box">
      <img  src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/cover-image.png" class="card-img dynamicImage" alt="Responsive image">
    </div>
    <div class = "content">
      <div class="card-body text-center">
        <img class="img-thumbnail rounded-circle workspaceImg shadow img-fluid"
             src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/IMG_6407.JPG" alt="userProfile">
        <div>
          <br>
          <h1 class="workspacename">{{workspaceTitle}}</h1>
        </div>
        <div class = "card-body description">
          {{workspaceDescription}}
        </div>
      </div>
      <div id = "boxes">

        <div id = "box1">

        </div>
        <div id = "leftbox">
          <h2 class = "text-center numbertext">{{noOfProjects}}</h2>
          <h2 class = "text-center titletext">Projects</h2>

        </div>

        <div id = "middlebox">
          <h2 class = "text-center numbertext">{{noOfMembers}}</h2>
          <h2 class = "text-center titletext">Members</h2>
        </div>

        <div id = "rightbox">
          <h2 class = "text-center numbertext">{{noOfGuests}}</h2>
          <h2 class = "text-center titletext">Guests</h2>
        </div>
        <div id = "box2">

        </div>
      </div>
      <div class = "membergroup">
        <app-avatar-group [workspaceID]="workspaceID"></app-avatar-group>

      </div>

      <div *ngIf="flagEditBtns" class="editrow">
        <div class="column">
          <img class = "imgBtn" (click) = "openVerticallyCentered()" src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/edit.png" alt="Snow" >
        </div>
        <div class="column">
          <img class = "imgBtn" src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/sharing.png" alt="Forest" >
        </div>
        <div class="column">
          <img class = "imgBtn"src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/trash.png" alt="Mountains" >
        </div>
      </div>

      <div class = "text-center">
        <br>
        <h1 class = "topic">Your Projects</h1>
        <br>
      </div>
      <div class = "workspacesearchbar">
        <div class="container h-100">
          <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
              <input class="search_input" [(ngModel)]="searchText" (ngModelChange)="searchProjects()" type="text" name="" >
              <a href="#" class="search_icon"><img class = "img141" src="./assets/images/images Used in Project Management UI Design\loupe.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="flagCreateBtn" class = "creatbtn">
        <app-crudbutton  class="text-center" text = "CREATE PROJECT" (click)="CreateProject()"></app-crudbutton>
        <br>

      </div>


        <div class="container">
          <div class="row">
            <div class="col-sm-6" *ngFor="let ProjectDetails of projects">
              <app-projectcard [projectDetails]="ProjectDetails"></app-projectcard>
            </div>
            <h3 class = "errortext">{{errorText}}</h3>
          </div>
        </div>
      <br><br><br>
      <ng-template #content let-modal  class = "mainModal">
        <app-workspaceedit (reRenderEvent) = "getWorkspaceDetails()" [workspaceDetails]="workspaceObject" ></app-workspaceedit>
      </ng-template>

    </div>
</div>


<!--modal-->
<ng-template #content2 let-modal  id = "content2">
  <app-projectadd (reRenderDetails) = "reload()" [WorkSpaceID]=" workspaceID" ></app-projectadd>
</ng-template>



