<div class = "workspace">

    <div class="bg-box">
      <img  src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/cover-image.png" class="card-img dynamicImage" alt="Responsive image">
    </div>
    <div class = "content">
      <div class="card-body text-center">
        <img class="img-thumbnail rounded-circle workspaceImg shadow img-fluid"
             src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/IMG_6407.JPG" alt="userProfile">
        <div>
          <br>
          <h1 class="workspacename">Happy Orange Company’s Workspace</h1>
        </div>
        <div class = "card-body description">
          Description is the pattern of narrative development that aims to make vivid a place, object, character, or group. Description is one of four rhetorical modes, along with exposition, argumentation, and narration. In practice it would be difficult to write literature that drew on just one of the four basic modes.
        </div>
      </div>
      <div id = "boxes">

        <div id = "box1">

        </div>
        <div id = "leftbox">
          <h2 class = "text-center numbertext">10</h2>
          <h2 class = "text-center titletext">Projects</h2>

        </div>

        <div id = "middlebox">
          <h2 class = "text-center numbertext">7</h2>
          <h2 class = "text-center titletext">Members</h2>
        </div>

        <div id = "rightbox">
          <h2 class = "text-center numbertext">5</h2>
          <h2 class = "text-center titletext">Guests</h2>
        </div>
        <div id = "box2">

        </div>
      </div>
      <div class = "membergroup">
        <app-avatar-group ></app-avatar-group>

      </div>

      <div class="editrow">
        <div class="column">
          <img class = "imgBtn" src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/edit.png" alt="Snow" >
        </div>
        <div class="column">
          <img class = "imgBtn" src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/sharing.png" alt="Forest" >
        </div>
        <div class="column">
          <img class = "imgBtn"src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/trash.png" alt="Mountains" >
        </div>
      </div>

      <div class = "text-center">
        <br>
        <h1 class = "topic">Your Projects</h1>
        <br>
      </div>
      <div class = "searchbar text-center">

      </div>
      <div class = "creatbtn">
        <app-clearall></app-clearall>
        <br>
      </div>



    </div>
</div>
