<div class="homePage">

  <div class="hero_area">
    <div class="bg-box">
      <img  src="./assets/images/images(Task Management)/intro-img.svg" class="img-fluid" alt="Responsive image">
    </div>

    <h2 class="mainTitle1">Track less, work more.</h2>
    <h2 class="mainTitle2">Manage your projects your way!</h2>
    <p class="firstpara">Task management software shouldn't be hard. Tâche isn't. Plan your team's work, know who's working
      on what, <br/> and deliver results intuitively with minimal tracking.</p>

  </div>

  <div class="text1">

    <h3 class="mainTitle3">The Need for Task Management</h3>
    <h1 class="mainTitle4">It's Time to Get Organized.</h1>

    <p class="secondpara">Task management is the link between planning to do something and getting it done.
      Your task management software should provide an overview of work in progress <br/> that enables tracking from conception to completion.
      Let's get organized together!</p>

  </div>
  <br/>

  <div class="my-5">
    <div class="row">
      <div class="col-lg-8">
        <img class="w-100" src="./assets/images/images(Task Management)/Untitled-1.jpg" />
      </div>
      <div class="col-lg-4">
        <div class="p-5 mt-4">
          <br/><br/><br/>
          <h2 id="keep">Keep track of all your progress </h2>
          <br/>
          <p class="lead">Use our Hold, In-Progress and Done states to get accurate data on what your team is working on at a glance. </p>
        </div>
      </div>
    </div>

  </div>



  <div class="text2">

    <h2 class="mainTitle5">A tool that adapts to your needs</h2>
    <p class="thirdpara">Tâche helps you stay in full control of all your projects and
      keep track of all the moving parts</p>

  </div>

  <br/><br/>

  <div class="card-deck">
    <div class="card" id="card1">
      <img class="card-img-top" src="./assets/images/images(Task Management)/project-feature-card-three.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Stay organised</h5>
        <p class="card-text">Plan your tasks, set priorities, and assign them to your teammates to work on.</p>

      </div>
    </div>

    <div class="card" id="card2">
      <img class="card-img-top" src="./assets/images/images(Task Management)/project-feature-card-two.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Manage all your tasks</h5>
        <p class="card-text">Bring multiple projects under the same roof to create a single, actionable task list.</p>

      </div>
    </div>

    <div class="card" id="card3">
      <img class="card-img-top" src="./assets/images/images(Task Management)/project-feature-card-four.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Centralize all your communication</h5>
        <p class="card-text">Share project plans, and files in a central hub, your project management software.</p>

      </div>
    </div>

    <div class="card" id="card4">
      <img class="card-img-top" src="./assets/images/images(Task Management)/project-feature-card-one.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Never miss your deadlines</h5>
        <p class="card-text">Get automatic reminders when tasks and projects approach their due dates.</p>

      </div>
    </div>

  </div>

  <br/><br/>

  <div class="card" id="card5">
    <div class="card-body">
      <br/> <br/><br/>
      <h2 class="card-title" id="title">Sign up and get started with  Tâche today. A world of productive teamwork awaits!</h2>  <br/>

      <app-getstarted></app-getstarted>
      <br/> <br/>
    </div>
  </div>

  <br/><br/>

</div>
