.friendheaderdiv .toolbar{
  background-color: white;
  color: #1d1b31;
  padding-left: 25px;
  padding-top: 15px;
  padding-right: 15px;
  font-family: Rambla, Roboto, normal, serif;
  font-weight: bold;
}
.friendheaderdiv span{
  font-size: 30px;
  letter-spacing: 3px;
}
span::first-letter {
  font-size: 150%;
}


.friendheaderdiv .searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  width: 100%;
  border: 1px solid #3FC1C9;
  box-shadow: 1px 1px  #888888;
}

.friendheaderdiv .search_input{
  color: #364F6B;
  border: 0;
  outline: 0;
  background: none;
  width: 80%;
  caret-color:#FC5185;
  line-height: 40px;
  transition: width 0.4s linear;
}

.friendheaderdiv .searchbar .search_icon{
  height: 40px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:#F5F5F5;
  text-decoration:none;
}

.friendheaderdiv .searchbar #img141{
  width: 50%;
  transform: scaleX(-1);
}


