.bsic svg{
  font-weight: bold;
  width: 60px;
  height: 60px;
  fill:#FC5185;
}
.bsic modal-body{
  color: #364F6B;
}

.bsic h1{
  font-weight: bold;
  margin-bottom: 5px;
  color: #364F6B;
}
.bsic h3{
  margin-bottom: 5px;
  color: #364F6B;
}

.bsic #okbtn{

  background-color: #3FC1C9;
  color: #F5F5F5;
  margin-right: 10px;
  margin-bottom: 30px;
}

.bsic #canclbtn{
  background-color: #364F6B;
  color: #F5F5F5;
  margin-left: 15px;
  margin-bottom: 30px;
}
