.err svg{
  font-weight: bold;
  width: 60px;
  height: 60px;
  fill:#FC5185;
  margin-top: 20px;
}
.err modal-body{
  color: #364F6B;
}

.err h1{
  font-weight: bold;
  margin-bottom: 5px;
  color: #364F6B;
}
.err h3{
  margin-bottom: 5px;
  color: #364F6B;
}

.err #okaybtn{

  background-color: #3FC1C9;
  color: #F5F5F5;
  margin-right: 10px;
  margin-bottom: 30px;
}
