<div class="dashboard">
  <div class="card img-fluid mainDashboardContent">
    <img class="card-img-top dynamicImage shadow-lg" [src]="imageURL"
         alt="dynamic image">
    <div class="card-img-overlay">
      <h1 class = "timeAndDate"><b>{{Time}}</b></h1>
      <br>
      <h1 class = "timeAndDate"><b>{{Date}}</b></h1>
      <br><br><br><br>
      <h1 class = "greetings"><b>{{greetings}}</b></h1>
      <br><br>
      <h1 class = "notificationsAndReq"><b>You have new 10 notifications</b></h1>
      <h1 class = "notificationsAndReq"><b>2 friend requests</b></h1>
    </div>
  </div>
  <br><br>
<!--<div>-->
<!--  <button type="button" class="btn btn-primary mr-2" (click)="changeImage(1)">4-6</button>-->
<!--  <button type="button" class="btn btn-primary mr-2" (click)="changeImage(2)">6-8</button>-->
<!--  <button type="button" class="btn btn-primary mr-2" (click)="changeImage(3)">8-10</button>-->
<!--  <button type="button" class="btn btn-primary mr-2" (click)="changeImage(4)">10-12</button>-->
<!--  <button type="button" class="btn btn-primary mr-2" (click)="changeImage(5)">12-14</button>-->
<!--  <button type="button" class="btn btn-primary mr-2" (click)="changeImage(6)">14-16</button>-->
<!--  <button type="button" class="btn btn-primary mr-2" (click)="changeImage(7)">16-18</button>-->
<!--  <button type="button" class="btn btn-primary mr-2" (click)="changeImage(8)">18-20</button>-->
<!--  <button type="button" class="btn btn-primary mr-2" (click)="changeImage(9)">20-22</button>-->
<!--  <button type="button" class="btn btn-primary mr-2" (click)="changeImage(10)">22-24</button>-->
<!--  <button type="button" class="btn btn-primary" (click)="changeImage(11)">24-4</button>-->
<!--  </div>-->
<!--  <div>-->
<!--    <h2>{{now}}</h2>-->
<!--  </div>-->
</div>
