<div class="dashboard">
  <div class="card mainDashboardContent">
    <img class="card-img dynamicImage shadow-lg" [src]="imageURL"
         alt="dynamic image">
    <div class="card-img-overlay">
      <h1 class = " card-text timeAndDate"><b>{{Time}}</b></h1>
      <br class="t1"> <br class="t3">
      <h1 class = "card-text timeAndDate"><b>{{Date}}</b></h1>
     <div> <br class="t1" ><br class="t1" ><br class="t1">  <br class="t2" ><br class="t2" ><br class="t2"><br class="t3"></div>
      <h1 class = "card-text greetings"><b>{{greetings}}</b></h1>
      <br class="t1"><br class="t1"><br class="t2"><br class="t3">
      <h1 class = "card-text notificationsAndReq" [hidden]="isNotifications"><b>You have new {{notificationCount}} notifications</b></h1>
      <h1 class = "card-text notificationsAndReq" [hidden]="isFriendsRequest" ><b>{{friendRequestCount}} friend requests</b></h1>
    </div>
  </div>
  <br><br>
  <div>
    <app-search text = "Search"></app-search>

    <br>
<app-crudbutton  class="text-center" text = "CREATE WORKSPACE"></app-crudbutton>
    <br><div class="container">
        <div class="row">
          <div class="col-sm-6" *ngFor="let number of numbers">
            <app-workspacecard></app-workspacecard>
          </div>
        </div>
      </div>

  <br>
<!--&lt;!&ndash;  use the loading like this&ndash;&gt;-->
<!--  <div class="card" style = "border: none">-->
<!--      <app-loadinganimation></app-loadinganimation>-->
<!--  </div>-->
</div>
</div>






