<!--<app-friendsheader></app-friendsheader>-->
<br>

<div class="general-notifications-card">
<div class = "d-flex justify-content-center">
  <div class="card w-75">
    <div class="card-body">
      <div class="vl">
        <div class = "first-row"><h5 class = "notification-title"><b>Tâche Web Project</b></h5>
          <h6 class = "notification-summary">New task added</h6>
          <h6 class = "date"><span><img class = "img-fluid clock-icon" src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/three-o-clock-clock.png" alt = "clock"></span>29 December 2021 at 10.30 p.m.</h6>
        </div>
        <div class = "second-row"><h5 class = "notification">Design a notification page</h5>
          <span><img class = "img-fluid remove-icon" src = "./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/remove.png" alt = "remove"></span>
        </div>
      </div>
    </div>
</div>
</div>
</div>
