.userDetails .imageIcon{
  max-height: 40px;
}

.userDetails .editIcon{
  max-height : 20px;
}

#email{
  text-decoration: underline;
}

.userDetails .innerCard{
  border: none
}

.userDetails .details{
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
  color :#364F6B;
}

@media screen and (max-width:500px){
  .userDetails .details{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    color :#364F6B;
  }

  .userDetails .imageIcon{
    max-height: 25px;
  }

  .userDetails .editIcon{
    max-height :10px;
  }
  /*.userProfile .breakingSpaces{*/
  /*  display: none;*/
  /*}*/
}

@media screen and (max-width:400px){
  .userDetails .details{
    margin-left: 3px;
    margin-right: 5px;
    font-size: 10px;
    color :#364F6B;
  }

  .userDetails .imageIcon{
    max-height: 20px;
  }

  .userDetails .editIcon{
    max-height :10px;
  }

  .userDetails .breakingSpaces{
    display: none;
  }
}
.userDetails .card-body{
  box-shadow: none !important;
}

.iconClickable:hover{
  -webkit-filter: drop-shadow(5px 5px 5px #3FC1C9);
  filter: drop-shadow(5px 5px 5px #3FC1C9);
}
