<div class="userDetails">
  <div class="d-flex justify-content-center">
    <div class="card innerCard" >
      <div class="card-body">
        <div class="container">
          <div class="row text-center">
            <!--        first name-->
            <div class="col" [hidden] = "editableStatus1">
             <img class="img-fluid imageIcon"
                        src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/id-card.png"
                        alt="id card">
              <span class="details">{{user.FirstName}}</span>
              <span ><a type = "button" (click)="makeEditable(0)" [hidden] = "googleUserStatus"><img class="img-fluid editIcon iconClickable"
                             src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/edit.png"
                             alt="edit pencil"></a></span>
            </div>
            <div class="col" [hidden] = "!editableStatus1">
              <img class="img-fluid imageIcon"
                   src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/id-card.png"
                   alt="id card">
              <br><br>
              <span><input class = "inputField" placeholder="Text" type="Text" maxlength="50" onkeypress="return /[a-z]/i.test(event.key)"   [(ngModel)]="firstNameField"></span>
            </div>
            <!--          last name-->
            <div class="col" [hidden] = "editableStatus2">
              <img class="img-fluid imageIcon"
                   src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/id-card.png"
                   alt="id card">
              <span class="details">{{user.LastName}}</span>
              <span><a type = "button" (click)="makeEditable(1)" [hidden] = "googleUserStatus"><img class="img-fluid editIcon iconClickable"
                         src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/edit.png"
                         alt="edit pencil"></a></span>
            </div>
            <div class="col" [hidden] = "!editableStatus2">
              <img class="img-fluid imageIcon"
                   src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/id-card.png"
                   alt="id card">
              <br><br>
              <span><input class = "inputField" placeholder="Text" type="text" maxlength = "50" onkeypress="return /[a-z]/i.test(event.key)" [(ngModel)]="lastNameField"></span>
            </div>
          </div>
          <div class="breakingSpaces">
            <br>
          </div>
          <br>
          <div class="row text-center">
            <div class="col">
              <img class="img-fluid imageIcon"
                   src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/email.png"
                   alt="email">
              <span id="email" class="details">{{user.Email}}</span>
            </div>
          </div>
          <div class="breakingSpaces">
            <br>
          </div>
          <br>
          <div class="row text-center">
            <div class="col">
              <img class="img-fluid imageIcon"
                   src="./assets/images/images%20Used%20in%20Project%20Management%20UI%20Design/time-zone.png"
                   alt="time zone">
              <span class="details">{{timezone}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="container">
      <div class="row" [hidden] = "editableStatus">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <br>
          <app-crudbutton text="CHANGE PASSWORD" (btnClick)="redirectToChangePasswordPage()"  [hidden] = "googleUserStatus"></app-crudbutton>
        </div>
        <div class="col-sm">
        </div>
      </div>
      <div class="row" [hidden] = "!editableStatus">
        <div class="col-sm">
        </div>
                <div class="col-sm">
                  <br>
                  <app-crudbutton text="EDIT PROFILE" (btnClick) = "openConfirmModal()"></app-crudbutton>
                </div>
        <div class="col-sm">
          <br>
          <app-crudbuttonpink text="CANCEL" (btnClick)="cancel()"></app-crudbuttonpink>
        </div>
        <div class="col-sm">
        </div>
      </div>
      <br>
      <div class="row">
        <app-crudbuttonpink text="DELETE MY ACCOUNT" (btnClick)="deleteAccount()" [hidden] = "googleUserStatus"></app-crudbuttonpink>
        <app-crudbuttonpink text="UNLINK MY ACCOUNT" (btnClick)="unlinkAccount()" [hidden] = "!googleUserStatus"></app-crudbuttonpink>
      </div>
    </div>

  </div>
</div>

<!--modal-->
<ng-template #content let-modal>
<app-deletedmodal (someEvent)="hello($event)"></app-deletedmodal>
</ng-template>

<!--confirm modal-->
<ng-template #content2 let-modal>
  <app-confirmmodal (someEvent)="updateUserDetails()"></app-confirmmodal>
</ng-template>

<!--success modal-->
<ng-template #content3 let-modal>
  <app-successmodal></app-successmodal>
</ng-template>

<!--error modal-->
<ng-template #content4 let-modal>
  <app-errormodal></app-errormodal>
</ng-template>


<ng-template #content5 let-modal>
  <app-passwordconfrimmodal></app-passwordconfrimmodal>
</ng-template>

<ng-template #content6 let-modal>
  <app-confirmdeletemodal (someEvent)="deleteAccountFromDB()" ></app-confirmdeletemodal>
</ng-template>
